	
<script>
	// 提案详情数据绑定
    var app = angular.module('myApp',['ngSanitize']);
    app.config(function($provide){
        $provide.factory("transFormFactory",function(){
            return {
                transForm : function(obj){
                    var str = [];  
                    for(var p in obj){  
                      str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));  
                    } 
                    return str.join("&");  
                }
            };
        });
    });//自定义依赖方法；
    
    app.controller("data",function($sce,$scope,$http,$q,transFormFactory){
        $scope.ajaxData = function(opinion_id) {
            $scope.url = "users/queryAll";
            $http({method:"GET",url:$scope.url,params:{}}).success(function (data) {
                $scope.content = data;
                console.log($scope.content);
            });
        };
    });




</script>
	</body>
</html>